#visualizeButton:active{
    background-color: black;
}

#visualizeButton {
    margin: 1% 1% 0.1% 1%;
    padding: 1% 2%;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    color: rgb(220, 172, 255);
    border: 3px solid black;
    font-weight: bold;
    transition: background-color 0.3s cubic-bezier(0, 1, 0.29, 1);
}

#algorithmSelect {
    margin: 0% 1% 1% 1%;
}

line {
    stroke: black;          /* Line color */
    stroke-width: 4;        /* Line thickness */
}

/* Style for the regular nodes (SVG <circle>) */
.node-regular {
    cursor: grab;
    fill: rgb(220, 172, 255);             /* Fill color of the node */
    stroke: black;          /* Optional: Stroke (border) color */
    stroke-width: 3; 
}


.node-start {
    cursor: grab;
    fill: green;
    stroke: black;
    stroke-width: 3;
}

.node-end {
    cursor: grab;
    fill: red;
    stroke: black;
    stroke-width: 3;
}

.node-highlighted {
    cursor: grab;
    fill: rgb(30, 178, 136);
    stroke: black;
    stroke-width: 3;
}

/* Position the SVG behind the nodes */
#graphSvg {
    display: block;
    width: 100%;
    height: 600px;
    background-color: rgb(240, 240, 240);
    position: relative;
}    

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}